<!-- component -->
<svg xmlns="http://www.w3.org/2000/svg"  style="position: absolute; z-index: 1;" viewBox="0 0 1440 320"><path fill="#38a169" fill-opacity="1" d="M0,32L48,53.3C96,75,192,117,288,112C384,107,480,53,576,37.3C672,21,768,43,864,53.3C960,64,1056,64,1152,80C1248,96,1344,128,1392,144L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
<div style="position: relative; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div id="team" class="section absolute max-h-full pt-20 pb-8 md:pt-16 z-10 pl-20" >  
        <div class="container mx-auto pt-5">
            <!-- section header -->
            <header class="text-center mx-auto ">
                <h2 class="text-2xl leading-normal font-bold text-green-800">
                    Calculadora Financiera
                </h2><h3 class="mb-4">En este proyecto puedes realizar multiples ejercicios sobre tasa de interes, interes simple e interes compuesto.</h3>
                <h2 class="text-2xl leading-normal font-bold text-gray-600">
                    Desarrolladores
                </h2>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 60" style="margin: 0 auto;height: 35px;" xml:space="preserve">
                    <circle cx="50.1" cy="30.4" r="5" class="stroke-primary" style="fill: transparent;stroke-width: 2;stroke-miterlimit: 10;"></circle>
                    <line x1="55.1" y1="30.4" x2="100" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                    <line x1="45.1" y1="30.4" x2="0" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                </svg>
            </header>
            <!-- end section header -->
            <!-- row -->
            <div class="flex flex-wrap flex-row justify-center">
                <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                    <div class="relative overflow-hidden bg-white mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                        <!-- team block -->
                        <div class="relative overflow-hidden px-6">
                            <img src="assets/fotoWilkar.png" class="max-w-full h-auto mx-auto rounded-full bg-gray-50" alt="title image">
                        </div>
                        <div class="pt-6 text-center">
                            <p class="text-lg leading-normal font-bold mb-1">Wilcar Daniel Ortiz Colpas</p>
                            <p class="text-gray-500 leading-relaxed font-light">wdortiz&#64;unicesar.edu.co</p>
                        </div>
                    </div>
                    <!-- end team block -->
                </div>
                <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                    <!-- team block -->
                    <div class="relative overflow-hidden bg-white mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="relative overflow-hidden px-6">
                            <img src="https://github.com/KendrysDiaz.png" class="max-w-full h-full mx-auto rounded-full bg-gray-50" alt="title image">
                        </div>
                        <div class="pt-6 text-center">
                            <p class="text-lg leading-normal font-bold mb-1">Kendrys Adriana Diaz Villa</p>
                            <p class="text-gray-500 leading-relaxed font-light">kadrianadiaz&#64;unicesar.edu.co</p>
                        </div>
                    </div>
                    <!-- end team block -->
                </div>
                <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                    <!-- team block -->
                    <div class="relative overflow-hidden bg-white mb-12 hover-grayscale-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="relative overflow-hidden px-6">
                            <img src="assets/fotoRoberto.png" class="max-w-full h-45  mx-auto rounded-full bg-gray-50" alt="title image">
                        </div>
                        <div class="pt-6 text-center">
                            <p class="text-lg leading-normal font-bold mb-1">Robert Alberto Pertuz Palacio</p>
                            <p class="text-gray-500 leading-relaxed font-light">ralbertopertuz&#64;unicesar.edu.co</p>
                        </div>
                    </div>
                    <!-- end team block -->
                </div>

            </div>
            <!-- end row -->
        </div>
    </div>
</div>

