<div class="flex max-h-full pt-5 pl-24 pr-6 justify-center items-center h-screen bg-[url('/assets/fondoInteres.svg')] bg-cover bg-bottom ">
    <div class="w-1/2 relative">
      <!-- Contenedor de información -->
      <div class="w-full flex flex-col justify-center items-center text-white">
        <!-- Título -->
        <h1 class="text-3xl font-bold text-green-900 mb-3">Gradientes</h1>
        <!-- Imagen explicativa -->
        <img src="assets/formulas/formula_interes.png" alt="" srcset="">
        <!-- Texto -->
        <p class="text-lg text-black text-justify mx-12">El <span class="font-bold text-custom-green">interés simple</span> es la tasa aplicada sobre un capital origen que permanece constante en el tiempo y no se añade a periodos sucesivos, es decir, es el interés que se calcula solo sobre la cantidad original sin tener en cuenta los intereses previamente generados.</p>
      </div>
    </div>
  
    <div class="w-1/2 rounded-xl m-5 p-5 bg-green-100" id="CalculatorInteresRate">
      <h2 class="text-xl text-black font-bold mb-3 ml-2">
        Ingresa los datos de tu ejercicio
      </h2>
      <hr class="linea" />
      <section class="mb-14">
        <form class="ml-5 mt-3 mr-10">
          <div>
            <input type="checkbox" name="" id="">
          <label for="">G. Aritmetico</label>
          <input type="checkbox" name="" id="">
          <label for="">G. Geometrico</label>
          </div>
          <input type="number" name="" placeholder="Valor Presente" id="">
          <input type="number" name="" placeholder="Valor Primera Cuota" id="">
          <app-time-grad></app-time-grad>
          <input type="text" name="" placeholder="Gradiente + ó -" id="">

          
        </form>
      </section>
      <section id="SectionResult">
        <div class="bg-green-300 mr-6 ml-5 rounded-xl relative pb-4 h-28">
          <button
            class="absolute w-1/3 top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-800 text-white rounded-full p-2"
          >
            <p class="text-xl font-bold">Calcular</p>
          </button>
          <section class="flex items-center">
            <div class="justify-between w-3/4 mt-8 pl-6">
             
            </div>
          </section>
        </div>
      </section>
    </div>
  </div>
  