<div
    class="flex max-h-full pt-5 pl-24 pr-6 justify-center items-center h-screen bg-[url('/assets/fondoInteres.svg')] bg-cover bg-bottom ">
    <div class="w-1/2 relative">
        <!-- Contenedor de información -->
        <div class="w-full flex flex-col justify-center items-center text-white">
            <!-- Título -->
            <h1 class="text-3xl font-bold text-green-900 mb-3">TIR</h1>
            <!-- Imagen explicativa -->
            <img src="assets/formulas/formula-TIR.png" alt="" srcset="">
            <!-- Texto -->
            <p class="text-lg text-black text-justify mx-12">La <span class="font-bold text-custom-green">Tasa Interna
                    de Retorno o TIR</span> es un parámetro que te indica la viabilidad de un proyecto basándose en la
                estimación de los flujos de caja que se prevé tener. Por decirlo de forma sencilla, para calcular la TIR
                se toman la cantidad inicial invertida y los flujos de caja de cada año (ingresos de cada año,
                restándole los gastos netos) y en base a eso calcula el porcentaje de beneficios que se obtendrá al
                finalizar la inversión. Cuánto mayor se la TIR, más rentable será el proyecto.</p>
        </div>
    </div>

    <div class="w-1/2 rounded-xl m-5 p-5 bg-green-100" id="CalculatorInteresRate">
        <h2 class="text-xl text-black font-bold mb-3 ml-2">
            Ingresa los datos de tu ejercicio
        </h2>
        <hr class="linea" />
        <section class="mb-14">
            <form class="ml-5 mt-3 mr-10">
                <div class="flex justify-around my-10">
                    <div>
                        <input type="radio" name="opciones" id="tir" value="tir" [defaultChecked]="true"
                            (change)="changeCalculation('tir')" class="mr-2">
                        <label for="tir" class="font-semibold">T.I.R</label>
                    </div>
                    <div>
                        <input type="radio" name="opciones" id="van" value="van" (change)="changeCalculation('van')"
                            class="mr-2">
                        <label for="van" class="font-semibold">V.A.N</label>
                    </div>
                </div>

                @if (calculation === "van") {
                <app-input (valorChange)="onDiscountRateChange($event)" title="Tasa de descuento %" type="number"
                    info="Tasa de descuento" init={{discountRate}}></app-input>

                }
                <app-input (valorChange)="onDisbursementChange($event)" title="Desembolso inicial" type="number"
                    info="desembolso" init={{disbursement}}></app-input>



                <div class="relative overflow-y-auto">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Año
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Cobros
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Pagos
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Flujos de caja
                                </th>
                                <td scope="col" class="px-6 py-3"> Acciones </td>
                            </tr>
                        </thead>
                        <tbody class="max-h-28 overflow-y-scroll">
                            @for (item of collectionsAndPayments; track $index) {
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{$index}}
                                </th>
                                @if ($index > 0) {
                                <td class="px-6 py-4">
                                    <app-input (valorChange)="onCollectChange($event, $index)" title="" type="number"
                                        info="cobro" init={{collect}}></app-input>
                                </td>
                                <td class="px-6 py-4">
                                    <app-input (valorChange)="onPaymentChange($event, $index)" title="" type="number"
                                        info="pago" init={{payment}}></app-input>
                                </td>
                                <td class="px-6 py-4">
                                    @if
                                    (!validateNan(calculateClashFlow(collectionsAndPayments[$index].collect,collectionsAndPayments[$index].payment
                                    ) )) {
                                    {{calculateClashFlow(collectionsAndPayments[$index].collect,collectionsAndPayments[$index].payment
                                    )}}
                                    }
                                </td>
                                <td class="px-6 py-4"> <button type="button" class="eliminar-button col-2 " (click)="deleteYear(item.id)" >
                                        <i class="fa-solid fa-trash"></i>
                                    </button> </td>
                                } @else {
                                <td class="px-6 py-4">

                                </td>
                                <td class="px-6 py-4">

                                </td>
                                <td class="px-6 py-4">

                                </td>
                                <td class="px-6 py-4">

                                </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>


            </form>

            <button (click)="addYear()" class="my-11 bg-green-800 text-white rounded-full p-2">
                <p class="text-xl font-bold">Agregar año</p>
            </button>
        </section>
        <section id="SectionResult">
            <div class="bg-green-300 mr-6 ml-5 rounded-xl relative pb-4 h-28">

                <button (click)="calcular()"
                    class="absolute w-1/3 top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-800 text-white rounded-full p-2">
                    <p class="text-xl font-bold">Calcular</p>
                </button>

                <section class="flex items-center justify-center">

                    @if (calculation === "tir") {
                    <h2 class="text-xl text-black font-bold mt-11"> T.I.R : <span>{{tir}}</span> %</h2>
                    }@else {
                    <h2 class="text-xl text-black font-bold mt-11"> V.A.N : <span>{{van}}</span> $</h2>
                    }



                </section>
            </div>
        </section>
    </div>
</div>