<div class="flex">
  <div class="w-1/2 h-screen relative" id="SectionInformation">
    <!-- Contenedor de la imagen -->
    <div class="absolute bottom-0 left-0">
      <img
        src="assets/ImgFinanzas.png"
        alt="Imagen Finanzas"
        style="width: 70%; height: auto"
      />
    </div>
    <!-- Capa de opacidad de color blanco -->
    <div class="absolute inset-0"></div>
    <!-- Contenedor de información -->
    <div
      class="absolute w-full flex flex-col mt-10 justify-center items-center text-white"
    >
      <!-- Título -->
      <h1 class="text-3xl font-bold mb-10 text-green-800">
        {{ infoSeleccionada!.titulo }}
      </h1>
      <!-- Texto -->
      <img
        src="assets/formulas{{ infoSeleccionada?.url }}"
        class="bg-white opacity-90 rounded-xl"
        alt="Imagen Finanzas"
        style="width: 70%; height: auto"
      />
    </div>
  </div>

  <div class="w-1/2 rounded-xl m-5 p-5 bg-green-100" id="CalculatorInteresRate">
    <section id="SectionOptions">
      <h2 class="text-xl text-black font-bold mb-3">
        Seleccione el tipo de tasa de interes
      </h2>
      <div id="TypeInteresRate" class="ml-5 mr-10 mb-3">
        <form action="" class="flex justify-between">
          <app-radio-button
            label="Interes Simple"
            value="IntSim"
            id="IntSim"
            (EventSelectTypeRate)="showContentRate()"
          ></app-radio-button>
          <app-radio-button
            label="Interes Compuesto"
            value="IntCom"
            id="IntCom"
            (EventSelectTypeRate)="showContentRate()"
          ></app-radio-button>
        </form>
      </div>
    </section>
    <hr class="linea" />
    <section id="SectionInput">
      <form action="" [formGroup]="registrationForm" class="ml-5 mt-10 mr-10">
        <div class="flex gap-4 justify-between mb-3">
          <h3 class="text-base text-black font-semibold">Valor Final</h3>
          <input
            formControlName="finalValue"
            id="finalValue"
            class="input w-3/4"
            type="number"
            name="finalValue"
          />
        </div>

        <div class="flex gap-4 justify-between mb-3">
          <h3 class="text-base text-black font-semibold">Valor Presente</h3>
          <input
            formControlName="presentValue"
            id="presentValue"
            type="number"
            name="presentValue"
            class="input w-3/4"
          />
        </div>

        @if (showContent()) {
        <div class="flex gap-4 justify-between mb-3">
          <h3 class="text-base text-black font-semibold">Interes</h3>
          <input
            class="input w-3/4"
            formControlName="interest"
            id="interest"
            type="number"
            name="interest"
          />
        </div>
        }
        <div class="mb-20">
          <app-time-check
            [tipoTasaSeleccionada]="showContent()"
            [tipoBotton]="'TasaInteres'"
          ></app-time-check>
        </div>
      </form>
    </section>
    <section id="SectionResult">
      <div class="bg-green-300 mr-6 ml-5 rounded-xl relative pb-2">
        <button
          (click)="ejecutarFuncionHijo(); calcular()"
          class="absolute w-1/2 top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-800 text-white rounded-full p-4"
        >
          <p class="text-2xl font-bold">Calcular</p>
        </button>
        <section class="flex items-center justify-center mb-10">
          <div class="flex gap-3 w-3/4 mt-10 justify-between">
            @if (isSelectedPeriodo) {
            <app-interest-ratemessage
              rateMessage="{{ infoTasaPeriodo }}"
              title="{{ namePeriodo }}"
            ></app-interest-ratemessage
            >}@else {
            <app-interest-ratemessage
              rateMessage="{{ infoTasaAnual }}"
              title="Anual"
            ></app-interest-ratemessage
            >}
          </div>
        </section>
        <section class="flex m-10 justify-between">
          <div
            class="flex-1 rounded-l-3xl border-green-800 border-4 bg-white p-2"
          >
            <h3>Valor Futuro</h3>
            <h3 class="font-semibold ml-4">${{ infofinalValue }}</h3>
          </div>
          <div class="flex-1 bg-white p-2 border-green-800 border-4">
            <h3>Valor Presente</h3>
            <h3 class="font-semibold ml-4">${{ infopresentValue }}</h3>
          </div>
          @if (showContent()) {
          <div class="flex-1 bg-white p-2 border-green-800 border-4">
            <h3>Interes</h3>
            <h3 class="font-semibold ml-4">${{ infoInteres }}</h3>
          </div>
          }
          <div
            class="flex-1 rounded-r-3xl bg-white p-2 border-green-800 border-4"
          >
            <h3>Tiempo</h3>
            <h3 class="font-semibold ml-4">
              @if (isSelectedPeriodo) { {{ hijo.nPeriodos }}-
              {{ namePeriodo }}}@else { {{ infoTiempo }} - Años }
            </h3>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
